$MAIN_COLOR_BODY: #282c34;
$MAIN_COLOR_WHISKEY: #D19A66;
$MAIN_COLOR_FOUNTAINBLUE: #56B6C2;
$MAIN_COLOR_CHALKY: #E5C07B;
$MAIN_COLOR_SOFTPURPLE: #C678DD;
$MAIN_COLOR_MALIBU: #61AFEF;
$MAIN_COLOR_PISTACHIO: #98C379;
$MAIN_COLOR_CADETBLUE: #ABB2BF;
$MAIN_COLOR_FROLY: #E06C75;
